.imageLinkFormContainer {
    max-width: 100%;
}
.form {
    width: 80%;
    background: linear-gradient(90deg, rgba(17,17,17,1) 0%, rgba(34,34,34,1) 50%, rgba(17,17,17,1) 100%);
    border: 1px solid #00c7c7;
}
.subBtn {
    background: none;
    border: 1px solid #00c7c7;
}
.form {
    display: flex;
    gap: 1rem;
}