.tiltContainer {
    position: fixed;
    max-height: 13rem;
    max-width: 13rem;
    top: 1rem;
    left: 1rem;
}
.Tilt {
    background: linear-gradient(90deg, rgba(17,17,17,1) 0%, rgba(34,34,34,1) 50%, rgba(17,17,17,1) 100%);
    border: 1px solid #00c7c7;
    display: flex;
    justify-content: center;
    align-items: center;
}
.brainImg {
    height: 100%;
    width: 100%;
}
@media screen
    and (max-width: 1000px) {
        .tiltContainer {
            max-height: 8rem;
            max-width: 8rem;
            top: .5rem;
            left: .5rem;
        }
    }

@media screen
    and (max-width: 800px) {
        .tiltContainer {
            max-height: 5rem;
            max-width: 5rem;
        }
    }