.faceRecognitionImg {
    width: 50rem;
    height: auto;
}
.bounding-box {
    position: absolute;
    box-shadow: 0 0 0 3px #00c7c7 inset;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    cursor: pointer;
    border-radius: .5rem;
    transition: all 0.2s;
}
.bounding-box:hover {
    box-shadow: 0 0 0 3px #c7c000 inset;
    transform: scale(1.02);
}
